<!-- Container for the error page content -->
<div class='error-page'>
  <!-- Container for the error message -->
  <div class='error-message'>
    {{message}}
    <br />
    <!-- Button to explore the collection -->
    <a class='btn btn-primary explore-collection' href='/home'>
      Explore our collection
    </a>
  </div>
</div>