<!-- Login Bootstrap form with onsubmit to trigger handleLogin() function-->
<form onsubmit='WAD.handleLogin(this, event)' id='login-form'>
  <!-- Username input field -->
  <div class='mb-3'>
    <label for='username' class='form-label'>Username</label>
    <input type='text' class='form-control' id='username' required />
  </div>
  <!-- Password input field -->
  <div class='mb-3'>
    <label for='password' class='form-label'>Password</label>
    <input type='password' class='form-control' id='password' required />
  </div>
  <!-- Conditional rendering of message -->
  <div id='invalid-login' class='text-danger text-center'></div>
  <!-- Login button -->
  <div class='text-center'>
    <button type='submit' class='btn btn-primary mt-4'>Login</button>
  </div>
</form>